@import "mixins";

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-m);
  max-width: var(--max-width);
  margin: 0 auto;
  @include breakpoint(tablet-landscape-up) {
    grid-template-columns: 1fr 1fr;
  }
}

.swiperElement {
  padding: 0;
  margin: 0 auto;
  max-width: 500px;
}

.column_image_reverse {
  position: relative;
  min-height: 400px;
  order: 2;
}

.column_grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  order: 1;
  @include breakpoint(tablet-landscape-up) {
    place-items: center;
    order: 2;
  }
  li {
    padding-bottom: var(--spacing-xs);
  }
}
.column_grid_reverse {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  order: 1;

  @include breakpoint(tablet-landscape-up) {
    place-items: center;
    order: 2;
  }

  li {
    padding-bottom: var(--spacing-xs);
  }
}

.headingSection {
  margin: 0 auto;
  padding: 0 5%;
  max-width: 1000px;
  h2 {
    text-align: center;
    padding: var(--spacing-l) 0 var(--spacing-l) 0;
  }
  p {
    text-align: left;
  }
}
