@import "mixins";

.headerSection {
  position: relative;
  z-index: 1;
  width: 90%;
  height: 60vh;
  padding: 5rem 0;
  margin: 0 auto;
  @include breakpoint(tablet-landscape-up) {
    padding: 0;
    width: 100%;
    height: 85vh;
  }
}
.bannerImage {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background: url("/images/webp/HeaderImage-mobile.webp") no-repeat;
  background-position: 40% 100%;
  @include breakpoint(tablet-landscape-up) {
    padding: 0;
    margin: 0;
    background: url("/images/webp/HeaderImage copy.webp") no-repeat;
    width: 100%;
    height: 85vh;
    background-position: center 80%;
  }
}
